body {
  background-image: url("images/old_paper.jpg");
  font-family: Berkshire Swash;
  font-size: 35px;
}
h1 {
  color: #0e0405;
  font-size: 3rem;
}
ul {
  color: #0e0405;
}
button {
  font-size: 15px;
}
input, select {
  width: 150px;
  margin: 5px;
}
.nav-link {
  padding: 10px;
  font-size: 30px;
  color: black;
  text-align: center;
}
.character-view {
  font-family: Walter Turncoat;
  color: black;
}
.character-info {
  font-family: Walter Turncoat;
}
